@import "tailwindcss";

@theme {
  --font-serif: "Cormorant Garamond", ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --color-warm-bg: #FAF8F5;
  --color-primary: #3B2019;
  --color-accent: #C25E30;
  --color-secondary: #E3D9C8;
}

body {
  background-color: var(--color-warm-bg);
  color: var(--color-primary);
}